.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Answers li{
    padding: 10px;
    border-left: 4px solid #FF3B3B;
    background-color:#73C6B6;
    margin: 1rem 0 5px;
    border-radius: 40px;

}
.Answers li:hover{
    cursor: pointer;
    background-color: #a2a2a2;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
    border-left: 4px solid #0f6300;
    color: #fff;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    border-left: 4px solid #FF3B3B;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}
.check-answer{
    color: black;
}